{% load sass_tags %}
{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% sass_src 'css/layout.scss'%}" rel="stylesheet" type="text/css">

    <link href="{% static 'bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
	<script src="{% static 'bootstrap/js/bootstrap.min.js'%}"></script>
	<link href="{% static 'bootstrap/css/bootstrap-reboot.css'%}" rel="stylesheet">
	<link href="{% static 'bootstrap/css/bootstrap-grid.min.css'%}" rel="stylesheet">


	<script defer type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script defer type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="{% static 'js/script.js'%}"></script>

    <title>  {% block title %}{% endblock %}</title>
</head>
<body>
	<div class="content">
		<header>
			<nav class="navbar-nav">
				<div class="navbar__container">
					<a href="{% url 'home' %}" class="navbar__container-brand">PianoSchool</a>
					<div class="navbar__container-wrap">
						<ul class="navbar__container-wrap-menu">
							{% if request.user.is_authenticated %}
								<li>{{user.username}} | <a href="{% url 'logout' %}">Выйти</a></li>
							{% else %}
							<li><a href="{% url 'register' %}">Регистрация</a></li>
							<li><a href="{% url 'login' %}">Войти</a></li>
							{% endif %}
						</ul>
						<a href="{% url 'modal' %}" class="navbar__container-wrap-callback">
							<span>Как играть?</span>
						</a>
					</div>
				</div>
			</nav>
		</header>
	</div>
	<main>
	{% block content %}
  	{% endblock %}
	</main>
	<footer class="footer" role="contentinfo">
		<div class="container-fluid">
			<div class="row">
				<p>Проект Копанецкой Анастасии "Образовательная платформа для обучения в музыкальных школах", Краснодар, Россия, 2024.<br></p>
			</div>
		</div>
	</footer>

</body>
</html>